*.docx
*.csv
.ipynb_checkpoints
*.lnk
*.pdf
/own
/in_progress
/0 Базовый Python
/01 Предобработка данных
/02 Исследовательский анализ данных
/03 Статистический анализ данных
/05 Введение в машинное обучение
/06 Обучение с учителем
/07 Машинное обучение в бизнесе
/09 Линейная алгебра
/10 Численные методы
/11 Временные ряды
/12 Машинное обучение для текстов
/13 Базовый SQL
/14 Компьютерное зрение